In [1]:
import pandas as pd
import numpy as np

In [2]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [3]:
def imput_age(cols):
    Age=cols[0]
    Pclass=cols[1]
    if pd.isnull(Age):
        if Pclass == 1:
            return 37
        if Pclass == 2:
            return 29
        if Pclass == 3:
            return 24
    else:
        return Age

In [4]:
def impute_cabin(col):
    Cabin=col[0]
    if type(Cabin)== str:
        return 1
    else:
        return 0

In [5]:
train['Cabin']=train[['Cabin']].apply(impute_cabin,axis=1)
test['Cabin']=test[['Cabin']].apply(impute_cabin,axis=1)
train['Age']=train[['Age','Pclass']].apply(imput_age,axis=1)
test['Age']=test[['Age','Pclass']].apply(imput_age,axis=1)

In [6]:
test.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           1
Cabin          0
Embarked       0
dtype: int64

In [7]:
test['Fare'].fillna((test['Fare'].mean()),inplace=True)
train.dropna(inplace=True)

In [8]:
test.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [9]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           418 non-null float64
Cabin          418 non-null int64
Embarked       418 non-null object
dtypes: float64(2), int64(5), object(4)
memory usage: 36.0+ KB

In [11]:
datatr=train
datate=test

In [12]:
sextr = pd.get_dummies(datatr['Sex'],drop_first=True)
embarktr = pd.get_dummies(datatr['Embarked'],drop_first=True)
sexte = pd.get_dummies(datate['Sex'],drop_first=True)
embarkte = pd.get_dummies(datate['Embarked'],drop_first=True)
datatr=pd.concat([datatr,sextr,embarktr],axis=1)
datate=pd.concat([datate,sexte,embarkte],axis=1)

In [13]:
datatr=datatr.drop(['Sex','Embarked','Name','Ticket'],axis=1)
datate=datate.drop(['Sex','Embarked','Name','Ticket'],axis=1)

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
predictors = datatr.drop(['Survived','PassengerId'],axis=1)

target = datatr['Survived']

x_train, x_val, y_train, y_val = train_test_split(predictors, target, test_size = 0.22, random_state = 0)

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

lr=LogisticRegression()
lr.fit(x_train,y_train)
y_pred=lr.predict(x_val)
accu=accuracy_score(y_val,y_pred)
print(accu)

0.7346938775510204

/home/vishal/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [17]:
ids=datate['PassengerId']
pred=lr.predict(datate.drop('PassengerId',axis=1))

In [18]:
Output=pd.DataFrame({'PassengerId' : ids , 'Survived' : pred})
Output.to_csv('subtitanic.csv' ,  index = False)

In [19]:
p=pd.read_csv('subtitanic.csv')
p.head(5)

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [21]:
p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
PassengerId    418 non-null int64
Survived       418 non-null int64
dtypes: int64(2)
memory usage: 6.6 KB

In [22]:
from sklearn.ensemble import GradientBoostingClassifier

gbk=GradientBoostingClassifier()
gbk.fit(x_train,y_train)
y_pred=gbk.predict(x_val)
ac=accuracy_score(y_pred,y_val)
print(ac)

0.7704081632653061

In [23]:
ids=datate['PassengerId']
final=gbk.predict(datate.drop('PassengerId',axis=1))

In [24]:
Output=pd.DataFrame({'PassengerId' : ids , 'Survived' : final})
Output.to_csv('final.csv' ,  index = False)

In [25]:
f=pd.read_csv('final.csv')
f.head(5)kag

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

In [26]:
f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
PassengerId    418 non-null int64
Survived       418 non-null int64
dtypes: int64(2)
memory usage: 6.6 KB